<h1>Listing hive_events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hive_events.each do |hive_event| %>
  <tr>
    <td><%= link_to 'Show', hive_event %></td>
    <td><%= link_to 'Edit', edit_hive_event_path(hive_event) %></td>
    <td><%= link_to 'Destroy', hive_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hive event', new_hive_event_path %>
